body{
    font-family: Tahoma, Verdana, sans-serif;
}
#principal{
    width: 1024px;
    margin: 30px auto;

}

.header-top{
    height: 50px;
    background-color: #162028;
    position: relative;
}
.logotipo{
    margin: 5px 0 0 200px;
}

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav li{
    display: inline-block;
    list-style: none;
    margin: 0 15px 0 0;
    padding: 13px;
}
.header-nav a{
    color: rgb(36, 73, 69);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color 0.2s linear;
}
.header-nav a:hover{
    color: #fff;
}
.portfolio{
    padding: 50px 100px;
    text-align: center;
}
.portfolio h1{
    font-size: 36px;
    color: #252525;
}
.portfolio p{
    font-size: 16px;
    line-height: 2;
    color: #555;
}
.gallery{
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;
}
.gallery-card{
    width: 33%;
    float: left;
    text-align: center;
}
.gallery-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
}
.about{
    background-color: #003d52;
    padding: 100px;
    color: white;
    background-image: url(imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.about h2{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
}
.about p{
    line-height: 2;
    width: 70%;
}

#contact{
    margin: 50px 0;
}
#contact address{
    color: #143f52;
    text-transform: uppercase;
    font-size: 22px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}
.maps{
    height: 450px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.maps iframe{
    width: 1023%;
}
.rodape{
    background-color: #0b171f;
    padding: 25px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}